---

const title = "William & Heidy";
const title2 = "W & H"
const date = "December 7, 2024";
const location = " Choloma";
const city = 'Honduras'
const menuItems = ["Home", "Our Story", "Photos", "RSV"];

function toggleMenu(){
    const menu = document.getElementById('mobileMenu');
    console.log("Toggle menu called");
    if (menu?.classList.contains('hidden')){
        menu?.classList.remove('hidden');
    }else {
        menu?.classList.add('hidden')
    }
}

---
<section class="lg:block hidden">
    <nav class="flex flex-col items-center text-[#656768] ">
        <div class="bg-[url('fondo-flores.webp')] bg-no-repeat bg-center bg-cover flex flex-col items-center pt-60 w-full h-auto">
            <div class="flex flex-col items-center">
                <h1 class="text-7xl font-serif">{title}</h1>
                <p class="p-2 py-8 text-xl font-sans font-normal uppercase tracking-[3px]">{date} 路 {location}</p>
            </div>   
            <div class="flex-grow justify-center py-10">
                {menuItems.map((item) =>(
                    <a class="text-[#656768] text-xl tracking-[2px] font-serif italic lg:mr-7 hover:border-b hover:border-gray-600" href="#">{item}</a>
                ))}
            </div>
        </div>
        <div class="w-full flex justify-center">
            <img src="s.jpg" alt="" class="w-full m-auto h-auto block p-8">
        </div>
    
    </nav>
</section>

<section class="block lg:hidden">
    <div class="flex flex-col text-[#656768] ">
        <nav class="bg-gray-800 py-1 relative">
            <div class="container mx-auto flex items-center justify-between">
                <button class="text-4xl px-4 py-2 text-white" onclick="toggleMenu();">&#9776;</button>
                <h1 class="text-2xl text-white font-serif font-normal absolute left-1/2 transform -translate-x-1/2">{title2}</h1>
                
                <div id="mobileMenu" class=" hidden flex-grow justify-center">
                    {menuItems.map((item) =>(
                    <a class="text-[#656768] text-xl tracking-[2px] font-serif italic lg:mr-7 hover:border-b hover:border-gray-600" href="#">{item}</a>
                    ))}
                </div>
            </div>
            
        </nav>
        
        <div class="w-full flex justify-center">
            <img src="s.jpg" alt="" class="w-full m-auto h-auto block">
        </div>

        <div class="bg-no-repeat bg-center bg-contain flex flex-col items-center w-full h-full">
            <img src="fondo-flores2.webp" alt="" class="w-full m-auto h-auto block">             
            
        </div>
        <div class="flex flex-col items-center">
            <h1 class="text-6xl text-center font-serif" >{title}</h1>
            <p class="pt-8 text-base font-sans font-normal uppercase tracking-[3px]">{date} 路 {location}</p>
            <p class=" text-base font-sans font-normal uppercase tracking-[3px] pb-8">{city}</p>
        </div> 

    
    </div>
    
    

</section>


    


<style>

    @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');




</style>



---

const title = "William & Heidy";
const title2 = "W & H"
const date = "December 7, 2024";
const location = " Choloma";
const city = 'Honduras'
const menuItems = ["Home", "Our Story", "Photos", "RSV"];


---

<script>
    function toggle(){
    const menu = document.getElementById('mobileMenu');
    console.log()
    if (menu?.classList.contains('hidden')){
        menu?.classList.remove('hidden');
    }else {
        menu?.classList.add('hidden')
    }
}
</script>

<section class="lg:block hidden">
    <nav class="flex flex-col items-center text-[#656768] ">
        <div class="bg-[url('fondo-flores.webp')] bg-no-repeat bg-center bg-cover flex flex-col items-center pt-60 w-full h-auto">
            <div class="flex flex-col items-center">
                <h1 class="text-7xl font-serif">{title}</h1>
                <p class="p-2 py-8 text-xl font-sans font-normal uppercase tracking-[3px]">{date} 路 {location}</p>
            </div>   
            <div class="flex-grow justify-center py-10">
                {menuItems.map((item) =>(
                    <a class="text-[#656768] text-xl tracking-[2px] font-serif italic lg:mr-7 hover:border-b hover:border-gray-600" href="#">{item}</a>
                ))}
            </div>
        </div>
        <div class="w-full flex justify-center">
            <img src="s.jpg" alt="" class="w-full m-auto h-auto block p-8">
        </div>
    
    </nav>
</section>

<section class="block lg:hidden">
    <div class="flex flex-col text-[#656768] ">
        
        <div class="w-full flex justify-center">
            <img src="s.jpg" alt="" class="w-full m-auto h-auto block">
        </div>

        <div class="bg-no-repeat bg-center bg-contain flex flex-col items-center w-full h-full">
            <img src="fondo-flores2.webp" alt="" class="w-full m-auto h-auto block">             
            
        </div>
        <div class="flex flex-col items-center">
            <h1 class="text-6xl text-center font-serif" >{title}</h1>
            <p class="pt-8 text-base font-sans font-normal uppercase tracking-[3px]">{date} 路 {location}</p>
            <p class=" text-base font-sans font-normal uppercase tracking-[3px] pb-8">{city}</p>
        </div> 

    
    </div>
    
    

</section>



<style>

    @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');




</style>